<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pokedex.thepokemoncompany.com.pokedex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PokemonActivity"
                  android:label="@string/list_name"  />
        <activity android:name=".activities.TrainerActivity"
                  android:label="@string/my_pokemons_name"/>
        <activity android:name=".activities.BestPokemonActivity"
                  android:label="@string/strongest_pokemon_name"/>
        <activity android:name=".activities.DetailsActivity"
                  android:label="@string/details_name"></activity>
    </application>

</manifest>